.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.overlay {
  position: absolute;
  top: 0;
  left: 245px;
  width: calc(100% - 245px);
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.popup {
  position: absolute;
  top: 0;
  left: 245px;
  width: 397px;
  height: 100%;
  background: #fff;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  z-index: 1000;
  overflow-y: auto;
  padding: 20px;
}
.item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.popup h4,
.popup p {
  font-weight: bold;
}

.popup h4 {
  padding-left: 8px;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 39px;
}

.popup p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 26px;
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: #efefef;
  color: #737373;
  border: none;
  margin-bottom: 25px;
  font-size: 16px;
}

.popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup li {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}
