.input {
  width: 268px;
  height: 38px;
  padding: 11px 11px 11px 8px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  border-radius: 3px;
  font-size: 12px;
  line-height: 36px;
}

.errorMessage {
  color: red !important;
  font-size: 12px;
  margin-top: 4px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}
