.page {
  display: flex;
  flex-direction: column;
}

.mainRow {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.contentWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 124px;
}

.main {
  width: 100%;
  max-width: 610px;
}

.contentRow {
  width: 100%;
}

.textBlock {
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 44px;
}

.topCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 16px 16px 8px 16px;
  border-radius: 12px;
  background-color: #efefef;
  margin-bottom: 24px;
}

.topLeft {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.topText {
  flex: 1;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #aaa8a8;
  object-fit: cover;
  background-color: #e0e0e0;
}

.topName {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 9px;
}

.topSubtitle {
  font-size: 12px;
  color: #737373;
}

.newPhotoBtn {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #0095f6;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.labelText {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.input {
  height: 42px;
  border-radius: 12px;
  border: 1px solid #dbdbdb;
  padding: 0 17px;
  font-size: 14px;
  outline: none;
}

.input:focus {
  border-color: #262626;
}

.textareaWrapper {
  position: relative;
}

.textarea {
  width: 100%;
  min-height: 62px;
  border-radius: 12px;
  border: 1px solid #dbdfe4;
  padding: 1px 0 2px 22px;
  font-size: 14px;
  resize: none;
  outline: none;
}

.textarea:focus {
  border-color: #262626;
}

.counter {
  position: absolute;
  right: 12px;
  bottom: 6px;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
}

.saveBtn {
  margin-top: 46px;
  width: 268px;
  height: 32px;
  border-radius: 8px;
  border: none;
  background-color: #0095f6;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}
