.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form input:first-child {
  margin-bottom: 6px;
}

.or {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 22px 0 70px 0;
  color: #737373;
  font-size: 13px;
  font-weight: 600;
}

.or::before,
.or::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #dbdbdb;
}

.or::before {
  margin-right: 15px;
}

.or::after {
  margin-left: 15px;
}

.forgot {
  text-align: center;
  display: block;
  color: #00376b;
  text-decoration: none;
  font-size: 14px;
}

.error {
  color: red;
  font-size: 12px;
}

@media (max-width: 900px) {
  .form {
    width: 100%;
    padding: 0 20px;
  }

  .or {
    margin: 18px 0 50px 0;
  }

  .forgot {
    font-size: 13px;
  }

  .error {
    font-size: 11px;
  }
}

@media (max-width: 600px) {
  .form {
    width: 100%;
    padding: 0 15px;
  }

  .form input {
    height: 38px;
    font-size: 14px;
  }

  .or {
    margin: 16px 0 40px 0;
    font-size: 12px;
  }

  .forgot {
    font-size: 13px;
    margin-top: -20px;
  }

  .error {
    font-size: 11px;
    text-align: center;
    max-width: 260px;
  }
}

@media (max-width: 400px) {
  .form {
    padding: 0 10px;
  }

  .form input {
    font-size: 13px;
  }

  .or {
    margin: 14px 0 32px 0;
    font-size: 11px;
  }

  .forgot {
    font-size: 12px;
  }
}
