.wrapper {
  position: fixed;
  inset: 0;
  z-index: 999;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* ← центрирование */
  width: 913px;
  height: 575px;
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1000;
}

.header {
  position: relative;
  padding: 12px;
  border-bottom: 1px solid #dbdbdb;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.header p {
  margin: 0;
}

.header button {
  position: absolute;
  right: 16px;
  border: none;
  background: none;
  color: #0095f6;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.content {
  display: flex;
  height: 100%;
}

.dropzone {
  background-color: #fafafa;
  flex: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #dbdbdb;
  cursor: pointer;
}

.icon {
  width: 153px !important;
  height: 153px !important;
  opacity: 0.8;
}

.rightBlock {
  flex: 1;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.textarea {
  width: 100%;
  height: 168px;
  resize: none;
  border: none;
  outline: none;
  font-size: 12px;
  color: #333;
}

.counter {
  font-size: 12px;
  color: #c7c7c7;
  text-align: right;
}

.emojiBar {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 12px;
  position: relative;
}

.emojiButton {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.emojiPicker {
  position: absolute;
  left: 0;
  z-index: 1200;
}
