.menu {
  width: 245px;
  padding: 28px 12px 0 12px;
  display: flex;
  border-right: 1px solid #dbdbdb;
  flex-direction: column;
}

.LogoImg {
  width: 97px;
  height: 54px;
  margin-bottom: 21px;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.list img {
  width: 24px;
  height: 24px;
}

.menu a,
.popUp {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  height: 48px;
}

.profileIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.profileLink {
  margin-top: 30px;
}

@media (max-width: 900px) {
  .menu {
    width: 80px;
    padding: 20px 6px 0 6px;
    align-items: center;
  }

  .LogoImg {
    width: 65px;
    height: 40px;
    margin-bottom: 30px;
  }

  .menu a {
    justify-content: center;
    font-size: 0;
  }
}
