.containerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 15px;
}

.container {
  border: 1px solid #dbdbdb;
  width: 350px;
  height: 554px;
  padding: 19px 39px 30px 39px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container img {
  z-index: 1;
}

.container p.info {
  margin-top: -12px;
  text-align: center;
  color: #737373;
  z-index: 0;
}

.info {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 36px;
}

.terms {
  margin-top: 26px;
  font-size: 12px;
  line-height: 16px;
}

.cookies {
  margin-top: 18px;
}

.loginPage {
  width: 350px;
  height: 63px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  border: 1px solid #dbdbdb;
  padding: 20px 0;
}

.loginPage a {
  color: #0095f6;
  text-decoration: none;
}

.container p {
  text-align: center;
  color: #737373;
}

.container p a {
  text-decoration: none;
  color: #00376b;
}

::placeholder {
  font-size: 12px;
  color: #737373;
}
