.containerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 15px;
}

.container {
  border: 1px solid #dbdbdb;
  width: 350px;
  padding: 19px 40px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPage {
  width: 350px;
  height: 63px;
  text-align: center;
  border: 1px solid #dbdbdb;
  padding: 20px 0;
}

.loginPage a {
  color: #0095f6;
  text-decoration: none;
}

::placeholder {
  font-size: 12px;
  color: #737373;
}
