.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3100;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  height: 240px;
  border-radius: 12px;
  background: #ffffff;

  z-index: 3101;
  overflow: hidden;

  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
}

.item {
  height: 48px;
  width: 100%;
  border: none;
  background: #fff;
  color: #000000;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item + .item {
  border-top: 1px solid #dbdbdb;
}

.delete {
  color: #ed4956;
}
