.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.overlay {
  position: absolute;
  top: 0;
  left: 245px;
  width: calc(100% - 245px);
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.popup {
  position: absolute;
  top: 0;
  left: 245px;
  width: 397px;
  height: 100%;
  background: #fff;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  z-index: 1000;
  overflow-y: auto;
  padding: 20px;
}

.popup h4,
.popup p {
  font-weight: bold;
  margin-bottom: 16px;
}

.popup h4 {
  font-size: 24px;
  line-height: 30px;
}

.popup p {
  font-size: 16px;
  line-height: 20px;
}

.item {
  display: flex;
  align-items: center;
  height: 60px;
}

.avatar {
  width: 40px !important;
  height: 40px !important;
  margin-right: 10px;
}

.textBlock {
  display: flex;
}

.username {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
}

.action {
  margin-left: 3px;
  font-size: 14px;
  line-height: 14px;
  color: #555;
}

.time {
  margin-left: 4px;
  color: #888;
}

.post {
  width: 44px !important;
  height: 44px !important;
  border-radius: 8px;
  margin-left: auto;
}
