.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 33px;
}

.left {
  max-width: 380px;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 350px;
  border: 1px solid #dbdbdb;
  padding: 30px 40px 23px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup {
  width: 350px;
  height: 63px;
  text-align: center;
  margin-top: 10px;
  border: 1px solid #dbdbdb;
  padding: 20px 0;
}

.signup a {
  color: #0095f6;
  text-decoration: none;
}

@media (max-width: 600px) {
  .image {
    display: none;
  }
}
