.page {
  display: flex;
  flex-direction: column;
}

.mainRow {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.contentWrapper {
  flex: 1;
  display: flex;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contentRow {
  width: 100%;
  display: flex;
}

.textBlock {
  width: 975px;
  padding: 16px 0;
  margin-left: 77px;
  margin-top: 58px;
}

.info {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.tile {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 2px;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
  aspect-ratio: auto;
  height: 100%;
  min-height: 0;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 900px) {
  .textBlock {
    margin-left: 30px;
    margin-top: 58px;
    width: calc(100% - 30px);
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
