.footer {
  height: 158px;
  text-align: center;
  padding: 20px 0;
  color: #777;
  font-size: 14px;
}

.footer nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 48px;
}

.footer a {
  text-decoration: none;
  color: #737373;
  font-size: 14px;
}
