.footer {
  height: 158px;

  text-align: center;
  padding: 20px 0;
  color: #777;
  font-size: 14px;
  z-index: 2000;
  background-color: #fff;
}

.footer nav {
  padding-left: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  flex-wrap: wrap;
}

.footer a {
  text-decoration: none;
  color: #737373;
  font-size: 14px;
}

.home {
  margin-right: 43px;
}

.search {
  margin-right: 42px;
}

.explore {
  margin-right: 40px;
}

.messages {
  margin-right: 37px;
}

.notifications {
  margin-right: 40px;
}

.create {
  margin-right: 0;
}

@media (max-width: 800px) {
  .footer nav {
    margin-bottom: 24px;
    gap: 14px;
  }
}
