.page {
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 40px;
  row-gap: 23px;
  margin-left: 77px;
  margin-top: 58px;
}

.update {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 404px;
  height: 217px;
  margin-left: 301px;
}

.update img {
  width: 83px;
  height: 83px;
  margin-bottom: 10px;
}

.title {
  color: #000000;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 4px;
}

.info {
  color: #737373;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
    margin-left: 30px;
  }
}
